venv/
.idea/
__pycache__/
Player_Saves.sqlite
Weapon_Templates.py
PLAYERDATA/
Character_Data_Files/
Inventory_Contents/
Excuses_Folder.md
The_Cooler_Main.py
W_Main_File/Views/Scrapped_Combat.py
Scratch.py
Scratch 2.py
profile.json
Click.sqlite
Click_Experiment.py
cloc-1.92.exe